.bodyclass {
	background-color: grey;
	background-image: url(../images/backgroundimage.jpg);
}

.jumbotron {
	background-image: url(../images/kittens-01.jpg);
	background-size: 100%, 100%; 
}

.bigbox {

}

.centercontainer {
	background-color: blue;
	margin: 25px;
	padding: 25px;
}

.center{
	text-align: center;
}

h1 {
	text-align: center;
	color: black;
	text-shadow: 3px 3px white;	
}

.bluetext {
	color: white;
	text-shadow: 2px 2px black;
}
